/**
 * Layer switcher
 */
#labelLegend{
    position:absolute;
    left:0;
    bottom:15px;
    z-index:1100;
    width:177px;
    height:190px;
    opacity: .7;
    background-color: #cccccc;
}

#bgSelectDiv{
    position:absolute;
    left:0;
    bottom:5px;
    z-index:1200;
}